<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.g.pocketmal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" tools:node="remove"/>

    <application
        android:name=".MALApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Mal">

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Mal.LoginScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mal.LoginScreen" />

        <activity
            android:name=".ui.ListActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="myanimelist.net" />
                <data android:pathPattern="/anime/.*" />
                <data android:pathPattern="/manga/.*" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TitleDetailsActivity"
            android:theme="@style/Theme.Mal.WhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.RecommendationsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Recommendations"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.UserProfileActivity"
            android:label="User Profile"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Search"
            android:theme="@style/Theme.Mal.NativeDialog"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.RankedActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Top"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.BrowseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Browse"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.EditDetailsActivity"
            android:label="Edit Details"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="About"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.HelpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/help__help"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/settings__settings"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground" />

        <activity
            android:name=".ui.SupportActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/support__support"
            android:theme="@style/Theme.Mal.WhiteBackground" />

        <activity
            android:name=".ui.SharingPatternsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Sharing Text Patterns"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.SeasonalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/seasonal__title"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.PosterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/poster__title"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />
    </application>
</manifest>
