<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.g.pocketmal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" tools:node="remove"/>

    <application
        android:name=".MALApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Mal">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Mal.LoginScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Mal.LoginScreen" />

        <activity
            android:name=".ui.legacy.ListActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="myanimelist.net" />
                <data android:pathPattern="/anime/.*" />
                <data android:pathPattern="/manga/.*" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.legacy.TitleDetailsActivity"
            android:theme="@style/Theme.Mal.WhiteBackground"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.recommendations.RecommendationsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Recommendations"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.userprofile.UserProfileActivity"
            android:label="User Profile"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Search"
            android:theme="@style/Theme.Mal"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.legacy.RankedActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Top"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.legacy.BrowseActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Browse"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.editdetails.EditDetailsActivity"
            android:label="Edit Details"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="About"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/settings__settings"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground" />

        <activity
            android:name=".ui.legacy.SharingPatternsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Sharing Text Patterns"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.seasonal.SeasonalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/seasonal__title"
            android:theme="@style/Theme.Mal" />

        <activity
            android:name=".ui.poster.PosterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/poster__title"
            android:theme="@style/Theme.Mal.NativeDialog.WhiteBackground.DialogWhenLarge" />

        <activity
            android:name=".ui.externallinks.ExternalLinksActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="External links setup"
            android:theme="@style/Theme.Mal" />
    </application>
</manifest>
